POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db_exemple
DB_PORT=port_exemple
# Добавляем ключ в settyngs.py
SECRET_KEY=django-insecur-0000000000000000
# Режим отладки
DEBUG_MODE=False
